*{
    margin: 0;
    padding: 0;
}
.s{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./img/image.png");
    background-size: 100%;
    font-size: 147px;
    background-color: black;
    /* opacity: 0.5; */
    background-color: black;
    text-align: center;
    color: blue;
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)), url("../img/puppy.jpg"); */
}
